[2016-08-17 10:07] dawie180 opened #1 "Feature request - sending location via bot"
You guys have done an awsome job with this... to make thing more epic if we could send our location to the  bot which then changes the location of the pogom scanner.

[2016-08-17 15:44] mmenanno opened #2 "Error - Unhandled Exception"
I can't seem to get this to run.

[code]

[2016-08-17 16:02] SM411 opened #3 "Setting multiple categories"
Hi,
If I would like to set notifications for both very rare and ultra rare, how should I procede? I tried to read the script, and if I read correctly it should be done by writing this:
`/setbyrarity 4
/setbyrarity 5`

But I'm not 100 % sure that this works or if the last command overwrites the first, or the first commands also include the effect of the second command (4 and more rare).

Btw, why i

[2016-08-18 00:22] gschmall opened #4 "More exaustive readme"
Not everyone is familiar with setting up a telegram bot. Please add a link to this page

https://core.telegram.org/bots

on your readme to help others get up to speed. Thanks.

[2016-08-18 00:31] eugenio412 commented on #2
I guess Python-telegram-bot doesn't support Python 3.5, try with Python 3.4 and let me know

[2016-08-18 00:32] eugenio412 commented on #4
I'll do it tomorrow, or if you want you can pull a request, I'll be happy to merge it

[2016-08-18 00:34] eugenio412 commented on #3
They just pile up, so doing both will notify you for rarity 4 and 5. But I should write it more carefully in the readme. If you like you could pull a request and I'll merge it. Or otherwise I'll do it by myself tomorrow.
Oh, and I know, it's crazy but snorlax is not considered ultra rare, but you can add him with /set 3 on the top of the other notifications

[2016-08-18 00:35] eugenio412 commented on #3
Oh, and I know, it's crazy but snorlax is not considered ultra rare, but you can add him with /set 3 on the top of the other notifications

[2016-08-18 00:40] eugenio412 commented on #1
By now the bot only reads the database, and there is no communication back. But i hope we can in the future

[2016-08-18 04:22] JackCloudman opened #5 "Time not showing properly"
the bot does not work, respond to commands but does not notify me that a Pokemon appeared :c
*edit
Its work xD but.. time is not working properly

[2016-08-18 08:11] kelt8 commented on #1
by any chance you can implement an additional line above the map sending so that in telegram notifications i can see the title of the spawn id. and then i can see whether is it worth it to click in and check?

[2016-08-18 08:37] eugenio412 commented on #5
Did it work? What do you mean time is not working properly?

[2016-08-18 09:32] eugenio412 commented on #4
Is it fine now? should I add something more? Take a look to the readme now

[2016-08-18 16:52] mecorx opened #6 "Sending notifications to channels"
Would it be possible to have this bot send messages to a channel instead of just 1 on 1?

[2016-08-18 18:31] eugenio412 commented on #6
I'm working on it! I need a new function to do it, and some time to code :smile:

[2016-08-18 18:32] eugenio412 opened #7 "/unset doesen't stop the scanner"
Yes, working on it, sorry

[2016-08-18 19:40] Korzakov opened #8 "Request: setrarity also sets higher levels"
I think it would be nice if the setrarity command would automatically take the higher levels of rarity. So for e.g. you enter command /setrarity 3 it sets notification for category 3, 4 and 5.

Or maybe this should be a new command.

[2016-08-18 19:52] Korzakov opened #9 "Notifications not sent to all users/groups"
I have a bot running for myself and a couple of friends. I really like the bot, awesome software.
But it seems were having an issue with the notifications. We have a group with all friends, where the bot is part of. We set notifications for category 3,4 and 5. We're not receiving all notifications. The more rare are received, but some less rare like Kakuna are not (always received). I can not real

[2016-08-18 20:01] Unknown66 commented on #5
This should be fixed in #10.

[2016-08-18 20:02] Unknown66 commented on #3
I added this in #10 with the ability to add other pokemon too.

[2016-08-18 20:20] Korzakov commented on #9
Now looking at the logs, i see many errors like this:

2016-08-18 20:16:31,151 - JobQueue - ERROR - An uncaught error was raised while executing job rarityalarm
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/telegram/ext/jobqueue.py", line 128, in tick
    job.run(self.bot)
  File "/usr/local/lib/python3.4/dist-packages/telegram/ext/jobqueue.py", line 233, in run

[2016-08-18 21:04] Unknown66 commented on #9
Okay that error tells me nothing.
But the bot is saving which pokemon has been sent without per user basis.
If my pull request gets merged I will see if I can change this behavior tomorrow.

[2016-08-18 21:09] Unknown66 opened #11 "Possible memory leak"
I think there's a memory leak with the sent variable. (forget to fix in #10)
If I've got time I will fix it and change sent to a user based variable.

Note: Threadsafe with Locks

[2016-08-18 23:32] mmenanno commented on #2
hmmmm, not sure how to do that. I'm on a mac and i know via homebrew i'm able to have the latest version of python 2 and python 3 but not sure how to do other versions.

[2016-08-18 23:33] mmenanno commented on #2
According to their github page they should support python 2.6 through to 3.5
https://github.com/python-telegram-bot/python-telegram-bot

[2016-08-19 02:28] darthvectivus commented on #2
same here, tried with python3.4 and python3.5... same error

[2016-08-19 05:14] JackCloudman commented on #6
`def rarityalarm(bot, job):
    with con:
        cur = con.cursor()
        rarity = int(job.context[1])
        for pokemon in pokemon_rarity[rarity]:
            cur.execute("SELECT * FROM pokemon WHERE pokemon_id = ?",(pokemon,))
            rows = cur.fetchall()
            for row in rows:
                encounter_id = str(row[0])
                spaw_point = str(row[1])
                pok

[2016-08-19 05:15] JackCloudman commented on #6
f***\* i'm new xD in github...
change:
bot.sendVenue(job.context[0], latitude, longitude, title, address)
to:
channel="@mychannel"
bot.sendVenue(channel, latitude, longitude, title, address)

[2016-08-19 05:17] JackCloudman commented on #6
the bot must be admin on the channel.....

[2016-08-19 06:28] gschmall commented on #4
Id also like to suggest the following clarifications:Create a new bot and COPY THE TOKEN INSIDE the file pogobot.py in the place of TOKENtoCreate a new bot and copy the token given. Then edit pogobot.py and replace TOKEN with the one from your bot.looking good otherwise.thanks.-gschmall.On August 18, 2016 at 5:32 AM eugenio412 notifications@github.com wrote:Is it fine now? should I add something m

[2016-08-19 09:03] eugenio412 commented on #8
sorry man, it's easy enough to send two commands in my opinion, did you check the new update?

[2016-08-19 09:04] eugenio412 commented on #9
@Korzakov let me know if the new merge of @Unknown66 you still have this problem.

By the way when you see "Unuthorized" it means that some of your friends blocked the bot. So ask them if they delete the chat with your bot, maybe they still have it in the blocked accounts.

[2016-08-19 09:07] eugenio412 commented on #7
I guess it's fixed now

[2016-08-19 09:07] #7 closed, assigned to nobody

[2016-08-19 09:08] eugenio412 commented on #11
I guess so, I thought that but I let it go several times for time reasons

[2016-08-19 09:14] eugenio412 commented on #6
@DeadBlast It's not that easy, we would need a function that takes the channel variable and saves it, and then the message could be sent in the channel, but that everything is made from the private chat.

Try with your fork, if it works I'll merge it right away :+1:

[2016-08-19 09:45] Unknown66 commented on #11
Okay I will do this and some code optimization tonight.

[2016-08-19 09:51] Unknown66 commented on #9
Yes still have this problem I can tell you. I will fix this tonight! If you want you can assign me this issue and #11.

[2016-08-19 10:02] eugenio412 opened #12 "Show spawn id before the location"
I did a quick brach seen that it has been asked
https://github.com/eugenio412/PogomBOT/blob/spawn_name/

[2016-08-19 10:03] eugenio412 commented on #1
That's for another issue @kelt8 , see at #12

[2016-08-19 10:03] #1 closed, assigned to nobody

[2016-08-19 10:05] MrRogerino opened #13 "Token Invalid Syntax"
When I paste the token from @BotFather, I see this: http://puu.sh/qGKRh/1ea19d33c8.png.

Any idea what the issue is? I've tried deleting the colon indicated. but it still states that there's invalid syntax.

[2016-08-19 10:09] eugenio412 commented on #13
Yes, you just forgot to put "", like "TOKEN", not TOKEN alone

[2016-08-19 10:12] MrRogerino commented on #13
Ah, my bad! Sorry for the inconvenience.

[2016-08-19 10:13] #13 closed, assigned to nobody

[2016-08-19 10:21] eugenio412 commented on #2
The error Unauthorized came out when the bot has been blocked, maybe you deleted the chat and stopped the bot at the same time. Try to see in your blocked contacts on telegram and see if your bot is blocked.
@halorrr @darthvectivus let me know if that's the problem

[2016-08-19 10:24] eugenio412 commented on #11
@Unknown66 invited you as a collaborator, I guess otherwise i can't assign you anything

[2016-08-19 10:26] eugenio412 commented on #4
@gschmall moved the clarification to our wiki

[2016-08-19 10:43] dikkedeur opened #14 "Disappear time wrong"
I installed the bot, great job for it, works great.
However..

the bot tells me that for example weepinbell
disappear at 51min.

my current time is 12:38 so i assume it means disappear at 12:51 not that it disappear in 51 minutes.
so in short its missing the HOURS before the minutes time.

![schermafbeelding 2016-08-19 om 12 43 28](https://cloud.githubusercontent.com/assets/11842306/17807405/9200d

[2016-08-19 10:47] dikkedeur opened #15 "[request] notification text instead of map"
The notification i get on my iphone is the following.

Telegrambot has sent you a map.
it does sent indeed a map, but i would prefer that it would show a lapras has been found or something.
so that you can filter the notifications on what you want to catch first,
hope that i wrote it correctly what i ment 👍

[2016-08-19 11:34] eugenio412 commented on #14
yes, sorry, a small typo, I'll correct it right now

*edit: DONE

[2016-08-19 11:36] eugenio412 commented on #15
Added in the master branch :+1:

[2016-08-19 12:15] dikkedeur commented on #14
great, will do a pull 👍

[2016-08-19 12:23] dikkedeur commented on #14
did a test and it is still saying Disappear at min 29..
so i dont think the fix did the trick.

[2016-08-19 12:40] eugenio412 commented on #14
Oh, but that's how it is supposed to work, usually VPS and servers are in different timezones and a pokemon never stays more that 15 min, to I decided to show only the minute it will disappear.

[2016-08-19 12:41] eugenio412 commented on #12
And then merged to master

[2016-08-19 12:41] #12 closed, assigned to nobody

[2016-08-19 12:44] dikkedeur commented on #14
but then again you mean show the time it will disappear like 4 minutes or 14 minutes ( most dont last 15 minutes i think max spawntime is 15 min )
but now it shows the min of the hour it will despawn..
so when it despawns at 12:49 it will say disappear at 49, i just miss the hours in the text or say it will disappear at x or y minutes..
2 different things ^^

[2016-08-19 12:59] Korzakov commented on #14
I agree with you on that dikkedeur.

Maybe a text like this:

Disappears at 19:50:46 (11m44s)

I'd like to see the actual time the pokemon disappears, because otherwise you have to find out for yourself how long it it is still there by comparing the time left and time of sending the message.

If the time is not correct due to timezones, maybe you could make an offset property for the hour differen

[2016-08-19 15:52] PhDeez opened #18 "KeyError: 'en' after starting bot, no notifications"
I am able to successfully launch the bot, and it starts as you can see, but after I "/addbyrarity 4" I see the error below and do not get any notifications.  I'm sure I just need to install something else, but I'm unsure what it is.  Furthermore, when I try to set language = en, it throws an error and says [] isn't available.

[code]

[2016-08-19 16:07] PhDeez commented on #18
Started again so I can show what's on the terminal and in telegram...

[code]

![screenshot_20160819-120457](https://cloud.githubusercontent.com/assets/21016588/17816100/6d0b454e-6605-11e6-87ef-0022810442cc.jpg)

[2016-08-19 16:13] PhDeez commented on #18
FYI, I also tried starting the bot as a normal user and super (sudo) with the same results.  Platform is ubuntu.

[code]

[2016-08-19 16:31] Korzakov commented on #8
Ok, fair enough. Just an idea, because i think when u want category 3 you almost always want notifications for 4 and 5 too.

No big problem :)

[2016-08-19 18:10] Korzakov opened #19 "Request: make rarity categories configurable"
The rarity categories which are currently used in the bot are not really suited for the area I live in. I'd like to change the categories. Would it maybe possible to move rarity categories out of the pogobot.py to config.json?

[2016-08-19 18:12] darthvectivus commented on #2
i restart the whole process and it work. I think its might be related to the token, maybe ive got it wrong the first time. thanks

[2016-08-19 18:28] eugenio412 commented on #2
Good to know @darthvectivus , and how is it going there @halorrr ?

[2016-08-19 18:33] #5 closed, assigned to nobody

[2016-08-19 18:33] #3 closed, assigned to nobody

[2016-08-19 18:34] #4 closed, assigned to nobody

[2016-08-19 18:41] #8 closed, assigned to nobody

[2016-08-19 18:47] eugenio412 commented on #19
That's a good idea, by the way with the function /save the bot gives you directly the numbers of the pokemon scanned, so it's easier to get it back inside. I guess this would be not necessary as soon as we implement a persistence for the scanner.

[2016-08-19 20:13] Unknown66 commented on #18
Did you copy the bot into the pogom map folder? It uses the same files for pokemon names.
And you need to run it from inside that folder too.

Would be helpfull if you could post `ls` from pogom folder. (And `ls static/locales` from inside pogom folder)

/lang [] means no languages could be loaded.

[2016-08-19 20:32] PhDeez commented on #18
Here's an `ls`of my pogom directory and static/locales:

[code]

Yes, the pogobot.py is in the same dir as the db it needs to read from.

Since @Unknown66 mentioned I needed to use a language in the static/locales folder I also tried de & fr with the same response in telegram as before with the weird [] response.  I also tried setting the config-bot.json to default language as "de" and it continue

[2016-08-19 20:32] Unknown66 commented on #14
Okay the problem with this is the timezone thats why I didnt added the complete timestamp.
If I've got the time I will fix it.

[2016-08-19 21:15] dikkedeur commented on #19
i just made a new row with the ids that i want to be notified about.
then i use on the bot..
/addbyrarity 6 ( since its after the 5 other ones ^^ )
problem is when you update the application, you need to insert them again, so i have a copy of the line.

[2016-08-19 23:06] mmenanno commented on #2
Restarted the whole process as well and it now works here too. The only thing i might have done differently thinking back is i may have started the bot in telegram before running the bot from python. So that might have been what happened.

[2016-08-19 23:34] mmenanno opened #20 "Unable To Open Database"
Back with a new error not that I have the bot running. As soon as I add pokemon I get this.

[code]

[2016-08-19 23:38] eugenio412 commented on #2
Might be, I hope it's going to work just fine, on the contrary of pogom, I'm having so many ban that it's not usable anymore

[2016-08-19 23:52] Unknown66 commented on #20
Did you copy pogobot.py into the pogom folder?
If so could you please do `ls -lah` from inside pogom folder and post the output here.

[2016-08-20 00:05] PhDeez commented on #18
Also went ahead and deleted all PogomBOT files and then reinstalled via git clone, copied key back in to config-bot.json, copied files back to pogom still with the same result.  Is there an option for extended logging or is that output somewhere?

[2016-08-20 01:25] Unknown66 commented on #18
Did you start the pogoBOT from inside the pogom directory? Not from your homefolder.
With the new commit you get more error outputs, that could be helpful.

[2016-08-20 01:28] mmenanno commented on #20
yes i did

[code]

[2016-08-20 01:31] Unknown66 commented on #20
The database `pogom.db` belongs to root thats why it can't open.

Two solution:
1. chown user:user pogom.db\* config.json and run runservery.py without root
2. run pogobot.py with sudo

Please tell me if it helped. :1234:

[2016-08-20 01:52] PhDeez commented on #18
@Unknown66 Thanks for the help!  The new push does give extended logging which yields this info on execution.  I think we're starting to locate the problem

FWIW, I have pogom, PogomBOT and a few other Poke applications installed in my own user's home directory, ie: `/home/<user>/pogom/runserver.py`, not in /etc/, /opt/ or anywhere else.  And yes, I'm starting pogomBOT from the pogom directory, no

[2016-08-20 02:10] Unknown66 commented on #18
Could you do `file -i pokemon.de.json`?
It should be utf-8 if that's not the case I will fix it tomorrow.
You already showed me another bug :+1:

[2016-08-20 02:18] PhDeez commented on #18
It is!

[code]

Glad to help... :) sorry I don't know how to fix... :(

[2016-08-20 02:26] PhDeez opened #22 "Feature Request: move scanning area via bot"
I saw this request over in pogom and feel it would be a pretty great thing to offer via pogomBOT.  Move the scanning area via the bot.

(https://github.com/favll/pogom/issues/328)

I would envision something like send location and then a /scanradius 1200.

[2016-08-20 08:43] #19 closed, assigned to nobody

[2016-08-20 08:48] Unknown66 commented on #18
Should be fixed in #23. Please report if it's fixed.

[2016-08-20 09:06] Unknown66 commented on #22
Duplicate of #1.

[2016-08-20 09:28] dikkedeur opened #24 "[error] cannot import timezone"
Updated to latest version.
upon starting the bot i get

Traceback (most recent call last):
  File "pogobot.py", line 18, in <module>
    from datetime import datetime, timezone
ImportError: cannot import name timezone

[2016-08-20 09:51] Unknown66 commented on #24
Did you run with python3?

[2016-08-20 09:52] dikkedeur commented on #24
when i do that i get this

root@logon:~/pogom# python3 pogobot.py
Traceback (most recent call last):
  File "pogobot.py", line 14, in <module>
    from telegram.ext import Updater, CommandHandler, Job
ImportError: No module named 'telegram'

[2016-08-20 09:52] dikkedeur commented on #24
python --version
Python 2.7.12

never had problem, been using it since 2 days

[2016-08-20 09:56] Unknown66 commented on #24
Timezone is from python3.
You installed dependencies for python2.

Steps to fix:
1. `sudo pip3 install -r requirements.txt -U`
2. `python3 pogobot.py`

now it should work!

Since this #21.

[2016-08-20 09:57] dikkedeur commented on #24
no i didnt, i thought it was only needed the first time you clone the repo..
will do and report back.

[2016-08-20 10:01] Unknown66 commented on #24
Normally you only need it first time clone. Thats mysterious!

[2016-08-20 10:03] dikkedeur commented on #24
works now with python3 pogobot.py
thanks..

[2016-08-20 10:04] Unknown66 commented on #24
#25 will now raise an exception for this bug thanks and no problem :+1:

[2016-08-20 10:04] #24 closed, assigned to nobody

[2016-08-20 10:05] Unknown66 opened #26 "Troubleshooting"
Should we do a troubleshooting guide on the wiki page? @eugenio412

[2016-08-20 10:06] #14 closed, assigned to nobody

[2016-08-20 10:08] #9 closed, assigned to Unknown66

[2016-08-20 10:08] #11 closed, assigned to Unknown66

[2016-08-20 10:54] Korzakov commented on #19
@eugenio412 and @Unknown66 this issue has been closed, but the categories are still in pogobot.py. Everytime I do a git pull my categories are overwritten. Or am I missing something?
P.S. Great work on the bot!

[2016-08-20 10:59] #15 closed, assigned to nobody

[2016-08-20 11:08] Unknown66 commented on #2
You've got to shutdown pogom over night that helps! And delete all banned accounts before restarting.

[2016-08-20 13:24] PhDeez commented on #18
It runs great now!  I do see an interesting line output from the terminal, it's:

`2016-08-20 09:18:47,431 - __main__:333 - ERROR - [205043177] RuntimeError('dictionary changed size during iteration',)`

This does not seem to impact functionality since I'm still getting updates... Excellent work, thank you!

[2016-08-20 13:36] PhDeez commented on #22
My bad, I didn't look in closed requests.  I believe additional work needs to occur on the pogom side, but if we can get the handlers worked out on the bot side it might motivate the pogom side to complete their development.  I would think webhooks would be the easiest way, but honestly I don't know.

Additional thought: We would also need to "delete" previously placed pins/locations since if we w

[2016-08-20 14:27] eugenio412 commented on #26
I think it's a good idea! Starting with the posted issues, I can do it. I was also thinking that we can open a group on telegram for faster interaction, like the one on Python-telegram-bot

[2016-08-20 14:39] eugenio412 commented on #19
Yes, that's true, but it doesn't make a lot of sense to change the categories once that you saved your favourite Pokemon using /save and /load, you can have it right back using this commands

[2016-08-20 16:17] Korzakov opened #27 "Multiple notifications for same pokemon"
I just updated to the latest version. Nice work on that.

But now i get multiple notifications for the same pokemon. I think its because pogom add multiple entries for the same pokemon in the database. The encounter_id is the same, but disappear_time is different.

[2016-08-20 17:48] Korzakov commented on #27
Here are some screenshots of the stats and the database.
![database](https://cloud.githubusercontent.com/assets/21110690/17832895/20a21a7e-670f-11e6-9c0b-ab22525471a5.PNG)
![stats](https://cloud.githubusercontent.com/assets/21110690/17832894/20a2110a-670f-11e6-8f76-04708983b246.PNG)

I got a notification for each row in the database :stuck_out_tongue_closed_eyes:

Btw, I also created an issue on t

[2016-08-20 17:56] eugenio412 commented on #27
As you said it is a pogom bug, we can do something to correct that but they should fix it either. I guess I should add a second check to ensure that the notification is not duplicated

[2016-08-20 18:58] #22 closed, assigned to nobody

[2016-08-20 19:25] Unknown66 commented on #18
I will check this today if I've got time to.

[2016-08-20 19:47] #18 closed, assigned to nobody

[2016-08-20 19:52] Unknown66 commented on #26
Good idea! https://gitter.im/ would be nice too because its mainly used for github.

[2016-08-20 21:08] Unknown66 commented on #27
Mhh interesting I haven't had that problem by now.

[2016-08-20 23:35] mmenanno commented on #20
I used the chown and it works beautifully now, thanks!

[2016-08-20 23:35] #20 closed, assigned to nobody

[2016-08-20 23:35] #2 closed, assigned to nobody

[2016-08-20 23:53] Korzakov commented on #27
Probably a pogom bug indeed. Had to start over with a new db according to nbormann from pogom. Will try tomorrow. Don't put any effort into this now :)

[2016-08-21 09:15] Unknown66 opened #29 "[Development] - Command improvements for future usage"
## Command changes:
- `/set lang en`
- `/toggle show_text`
- `/toggle show_map`

This way we could easily add new configuration parameters and wouldn't need a new command every time.
`/set` and `/toggle` would print all possible options

[2016-08-21 09:51] eugenio412 commented on #29
yes, that could work, but I was thinking to a massive use of the inline keyboard for future iteration, I've used them a lot in my previous bots. That's also because the commands like "/command arg" is not that user friendly and it's not raccomanded in the bot API by telegram

[2016-08-21 10:04] Unknown66 commented on #29
Cool I was thinking about this too. :+1:
Then we would have only `/toggle` and `/set`. The user will be prompted after what todo with an inline keyboard right?

[2016-08-21 10:32] #26 closed, assigned to nobody

[2016-08-21 12:42] Korzakov commented on #27
A newly created database fixed the issue. Primary key issue, now the PK is only on encounter_id. First it was on encounter_id and disappear_time.

You can close this issue!

[2016-08-21 14:53] #27 closed, assigned to nobody

[2016-08-21 18:03] eugenio412 commented on #29
yes, that would be an idea, but we need to create a callback function for the inline keyboard callback, I's starting a branch so we can use it for this new feature without messing with the master.

Sure as hell I don't really understand how to use milesones

[2016-08-21 19:01] RubenHiem opened #31 "No module named 'telegram'"
Traceback (most recent call last):
  File "pogobot.py", line 19, in <module>
    from telegram.ext import Updater, CommandHandler, Job
ImportError: No module named 'telegram'
...

What is the problem?

[2016-08-21 20:14] eugenio412 commented on #31
Did you run the requirements? Be careful, use pip3

[2016-08-21 20:38] RubenHiem commented on #31
Thanks, i think thats the issue!

[2016-08-22 15:49] #31 closed, assigned to nobody

[2016-08-22 18:15] RubenHiem commented on #31
The only problem is that pip3 doesn't work on my server.

[2016-08-22 18:19] Unknown66 commented on #31
`sudo apt-get install python3 python3-pip` should get you pip3 and python3.

[2016-08-22 18:21] RubenHiem commented on #31
No package available python3 and python3-pip

[2016-08-22 18:24] eugenio412 commented on #31
@RubenHiem which OS are you using? Ubuntu, debian?

[2016-08-22 18:25] RubenHiem commented on #31
@eugenio412 Centos 7

[2016-08-22 18:29] Unknown66 commented on #31
@RubenHiem [This](http://ask.xmodulo.com/install-python3-centos.html) and [this](http://stackoverflow.com/questions/32618686/how-to-install-pip-in-centos-7) should help to install python3 with pip3.

[2016-08-22 18:33] RubenHiem commented on #31
@Unknown66: Already tried:

[root@server1 PogomBOT]# python3.5 get-pip.py
Requirement already up-to-date: pip in /usr/local/lib/python3.5/site-packages
[root@server1 PogomBOT]# pip3

Usage:
  pip <command> [options]

[2016-08-22 18:36] RubenHiem commented on #31
But if I run the requirements, this is the output:

Requirement already up-to-date: python-telegram-bot==5.0.0 in /usr/lib/python2.7/site-packages (from -r requirements.txt (line 1))
Requirement already up-to-date: future>=0.15.2 in /usr/lib/python2.7/site-packages (from python-telegram-bot==5.0.0->-r requirements.txt (line 1))
Requirement already up-to-date: urllib3>=1.10 in /usr/lib/python2.7/si

[2016-08-22 18:46] eugenio412 commented on #31
Yes, you need pip3

[2016-08-22 18:47] RubenHiem commented on #31
Yeah I know, its installed but not working

[2016-08-22 19:36] PhDeez commented on #31
What's the output of:

`pip3 --version`

because based on the output above, you installed the requirements via pip (which defaults to python 2.7) instead of pip3.

What's the output of this command?

`sudo pip3 install -r requirements.txt -U`

[2016-08-23 07:16] RubenHiem commented on #31
Thanks for helping, this is the output:

[root@server1 ~]# pip3 --version
pip 8.1.2 from /usr/local/lib/python3.5/site-packages (python 3.5)
[root@server1 ~]# cd PogomBOT/
[root@server1 PogomBOT]# sudo pip3 install -r requirements.txt -U
sudo: pip3: command not found
[root@server1 PogomBOT]#

[2016-08-24 03:17] PhDeez commented on #31
It's super odd that you can run pip3 from the command line but the system doesn't see it there when running it via sudo.  If you're logged in as root, I'd skip the sudo portion and see if that works.

If that doesn't work, maybe you can run it via /usr/bin/pip3 like this:
#cd ~/PogomBot/
#/usr/bin/pip3 install -r requirements.txt -U

[2016-08-24 10:45] Unknown66 opened #33 "Specify path to pogom inside config-bot.json"
It would be better if we would set the path to `pogom` inside config-bot.json.
This would make it easier to use.

Should be around 10min to do so.

[2016-08-24 10:55] Made123 opened #34 "Set bot in a channel"
## Checklist

I succeed install and using the pogomBOT, very nice work guyz
## My Request

I will be glad to you, developping this following one.

The bot is amazing, i scan my city and want to share my information with my friends by telegram notification.
Talk to the bot is not very good because my friends can set my bot parameters and that is not very cool.

I would like to have the possibility

[2016-08-24 11:00] Unknown66 commented on #34
The other **can't** change your parameters. These are saved per user. (added in #10 and #21)
That means everyone can have a private chat with the bot.

[2016-08-24 11:03] eugenio412 commented on #34
that's basically the channel request by #6

[2016-08-24 11:04] Unknown66 commented on #34
You think we only need one channel? Then we should add this to `config-bot.json`.
This way no one else will be allowed to edit anything.

[2016-08-24 11:09] eugenio412 commented on #34
yes, but it's not that user friendly to find the chat_id of a channel

[2016-08-24 16:59] PhDeez opened #35 "Feature Request/How To Request - Ability to monitor log of pogom and send message on error 3 (suspended account)"
## Checklist
- [X] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [X] I have checked if this issue already exists (both open and closed issues)
- [X] I am using the most recent version of pogomBOT from the master branch
- [-] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [-] I'm posting the complete log, best if using pastebin

[2016-08-24 23:47] mecorx commented on #34
I tried having 2 private chats with the bot, but it sent each person one half of the notifications.
On another note, PokeAlarm seems to work with channels: https://github.com/kvangent/PokeAlarm/wiki/Telegram

[2016-08-25 00:41] eugenio412 commented on #34
What do you mean one half? It should send the notification that every group/user set, didn't it work? And by the way, how can you have two private chats? Please explain properly the bug so I can reproduce it.

Please @mecorx describe how to reproduce it in a brand new issue

[2016-08-25 00:55] eugenio412 commented on #35
For sure would be nice, but we don't have enough "coding power" to do it, as for now we are basically in two, and what you are asking would need a fork of pogom with a lot of mods. I'm personally under a tight deadline for what concern my studies. I guess that the inline update I'm working with it's the best we can do ritgh now. It would need more people to do all the amazing ideas that everyone i

[2016-08-25 01:13] eugenio412 commented on #33
I'll try in about two three days, busy right now

[2016-08-25 01:17] #34 closed, assigned to nobody

[2016-08-25 01:18] #35 closed, assigned to nobody

[2016-08-25 01:44] mecorx commented on #34
For example, I had both users set /setbyrarity 5 in separate private
conversations with the bot but one user got a notification for Dragonite
but the other did not. Basically, if one user got a notification, the other
would not get the same notification. I tried this a week+ ago, though. Not
sure if this still occurs.

On Wednesday, August 24, 2016, Eugenio Turano notifications@github.com
wrote:

[2016-08-25 09:02] Unknown66 commented on #34
It doesn't still occur anymore.

[2016-08-25 15:35] hamuster opened #36 "Error - `token` or `bot` must be passed"
## Checklist
- [x] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [x] I have checked if this issue already exists (both open and closed issues)
- [x] I am using the most recent version of pogomBOT from the master branch
- [x] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [ ] I'm using a descriptive title for this issue
  - [x]

[2016-08-25 16:04] Unknown66 commented on #36
Seems like your configfile isn't valid. Please check the syntax.
Don't forget the trailing `"`

[2016-08-25 16:18] hamuster commented on #36
Thank you, there was a enter between the " and the token but its was not visible, someting weird.
Now its working.

[2016-08-25 16:18] #36 closed, assigned to nobody

[2016-08-25 16:19] Unknown66 commented on #36
Fine :+1:

[2016-08-26 04:04] bigblackqueh commented on #6
or maybe you can try auto-forwarding the messages from the bot to a channel where the bot is an administrator?

[2016-08-29 07:38] kelt8 commented on #29
how abt a command for current area coverage in a screenshot, that'll be nice

[2016-09-01 12:53] ohnight8290 opened #37 "Is there new pkm map ?"
## Checklist
- [ ] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [ ] I have checked if this issue already exists (both open and closed issues)
- [ ] I am using the most recent version of pogomBOT from the master branch
- [ ] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [ ] I'm posting the complete log, best if using pastebin

[2016-09-01 13:58] eugenio412 commented on #37
This is not inherent this repo, btw join our telegram group and we can talk about that there

[2016-09-01 13:58] #37 closed, assigned to nobody

[2016-09-01 13:59] ohnight8290 commented on #37
WHAT IS YOUR TELEGRAM GROUP

[2016-09-01 14:00] eugenio412 commented on #37
https://telegram.me/pogomBOTgroup

[2016-09-03 10:58] Unknown66 opened #39 "Updating from older Version"
If you used an older version before:

You have to move the folder `userdata` from your pogom folder into the folder where the pogomBOT is inside.
And you've got to copy the `config-bot.json.example` to `config-bot.json` and change the values for at least:
1. TELEGRAM_TOKEN
1. POGOM_PATH

[2016-09-04 23:31] #39 closed, assigned to nobody

[2016-09-05 09:19] Unknown66 commented on #33
#38 done.

[2016-09-05 09:19] #33 closed, assigned to nobody

[2016-09-06 22:00] Unknown66 opened #41 "Split logic and datesource"
Split the logic from the datasource.

[2016-09-08 15:16] Unknown66 opened #42 "Add other databases"
Add support for other db's.

[2016-09-08 15:17] Unknown66 opened #43 "Add other source"
Add the ability to add other sources.

[2016-09-09 21:45] eugenio412 commented on #43
Do you mean other sources for notification like push bullet?

[2016-09-09 22:23] Unknown66 commented on #43
No other sources with a different db setup for example pokemongo-map. If they change their db layout

[2016-09-11 23:25] Unknown66 commented on #43
Added in #49.

[2016-09-11 23:25] #43 closed, assigned to nobody

[2016-09-11 23:25] Unknown66 commented on #42
Added in #49.

[2016-09-11 23:25] #42 closed, assigned to nobody

[2016-09-11 23:25] Unknown66 commented on #41
Added in #49.

[2016-09-11 23:25] #41 closed, assigned to nobody

[2016-09-11 23:26] Unknown66 opened #50 "[Feature Request] - Add webhooks for pokemongo-map"
Adding webhooks should be easy with the new Layout.

[2016-09-12 13:26] Unknown66 opened #51 "Add /loc to only get notifications for your surroundings"
For example:

`/loc 500` and send your location would set the notifications for only 500meters around that point.

[2016-09-12 15:10] eugenio412 commented on #51
done in #52

[2016-09-12 15:10] #51 closed, assigned to nobody

[2016-09-12 15:15] eugenio412 opened #53 "IV based notifications"
as said in title, please add yourself as Assignee if you are working on it

[2016-09-12 15:18] eugenio412 opened #54 "[Feature Request] - Lured pokestop notification"
as said in title, please assign yourself if you are working on it :+1:

[2016-09-13 19:33] Unknown66 commented on #53
Added to develop branch.

[2016-09-13 20:04] Unknown66 opened #56 "Add class for userdependant data."
Like title:
- Add new userdependant data easier
- Dont worry about it's getting saved

[2016-09-14 11:35] eugenio412 commented on #53
maybe something more specific would be nice, like a miminum Iv to trigger notification for each pokemon, rare pokemons tend to be wanted with 0 Iv, while common ones with higher IV

[2016-09-14 12:47] ghost opened #57 "Time of notifications is in UTC and not in locale time"
The bot send notifications in UTC, so the pokemon's disappearing time is back two hours.

[2016-09-14 12:48] Unknown66 commented on #57
Should be fixed in develop branch.

[2016-09-14 12:57] Made123 commented on #53
how about the moves into the IV notifications ?

[2016-09-14 12:58] eugenio412 commented on #53
@Made123 It's already there, maybe your phone is cutting the message, try rotating it and you will see it

[2016-09-14 14:40] wardsimon commented on #56
I'll have a look and write some test code..

[2016-09-15 11:55] Made123 commented on #53
I have tested, it works very well ! We can see clearly the notification on IOS and Android. I only have one request: have a IV filter list. Because per example, if i add the starters and snorlax into encounter list. I would like to notify the snorlax whatever its IV but add a filter for the starters. In this case, the filter IV list shall not be big because there are not much pokemons that we want

[2016-09-15 12:01] Made123 opened #58 "moves in fr language"
I will add the moves list in fr.

[2016-09-15 13:40] #58 closed, assigned to nobody

[2016-09-15 19:35] #57 closed, assigned to Unknown66

[2016-09-15 19:39] Unknown66 commented on #53
Good idea only question is per user or set by admin?

Empty list would be not using list and dont filter any.

[2016-09-15 19:43] Made123 commented on #53
By admin will be great.
And if you don't want the pokemon anymore, just Retire it from the classic list of notification.
Empty list = no filter.

[2016-09-16 11:01] Unknown66 commented on #53
If we do the list stuff I think individual IV for each pokemon would be fine.
The POKEMON_MINIMUM_IV is dropped then.

[2016-09-17 11:30] Unknown66 commented on #56
@simonward86 were you successful?

[2016-09-17 12:02] Unknown66 commented on #6
You're already able to add the bot to a group.
The only problem is everyone can alter its configuration.

[2016-09-17 12:02] #6 closed, assigned to nobody

[2016-09-17 12:39] wardsimon commented on #56
Hey,
I've had a bit of work this week, so things have been slow. I'm working on something and have a bit of time this weekend, so I'll use it to try and get it up and running.

[2016-09-17 17:30] Zentriert commented on #53
I would absolutely love the ability to filter IV per Pokemon because as others said, I want to get notified of all Snorlax, Magmar, etc, regardless of IV but only want to be notified of a good IV starter Pokemon. (because 98% of the starters seem to have under 40% average IVs ...)

Thank you for making this as awesome as it is!

[2016-09-17 19:01] Unknown66 commented on #56
Okay cool! Take the time you need it's only a hobby project :D

[2016-09-18 21:00] pki0 commented on #53
I'm doing this just running zwei Bots ;-)

But:
What about a bot command for setting minimum_iv per user?

[2016-09-18 21:32] Zentriert commented on #53
Hmm I'm not sure how to run two bots like that, you mean two separate maps
and two separate telegram bots? PokeAlarm is looking like they're about to
start a new branch with this feature too.

On Sep 18, 2016 5:00 PM, "klatterhans" notifications@github.com wrote:

[2016-09-18 21:58] pki0 commented on #53
You don't need a second Map. Just create a new Telegram Bot, copy the
folder, Insert the new bottoken and settings into the config and Start the second
bot in a new Terminal.

[2016-09-19 22:01] urinella opened #60 "/load gives wrong data"
## Checklist
- [x] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [x] I have checked if this issue already exists (both open and closed issues)
- [x] I am using the most recent version of pogomBOT from the master branch
- [x] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [ ] I'm posting the complete log, best if using pastebin

[2016-09-20 14:20] Unknown66 commented on #60
Mhh that's interesting could you please provide the log for that time?

[2016-09-20 14:47] urinella commented on #60
How do I do that? Is there a logfile or something? :)

[2016-09-20 14:52] Unknown66 commented on #60
No we decided to not write a logfile. (Because it's getting large fast, toggle should be added as parameter. Its on todo)
By now you're only able to fetch the log from console.

[2016-09-20 15:02] urinella commented on #60
Okay I did this again with the location error:

2016-09-20 16:53:26,950 - **main**:223 - INFO - [15261887] Load.
2016-09-20 16:53:26,952 - **main**:489 - INFO - [15261887] loadUserConfig.
2016-09-20 16:53:26,953 - **main**:536 - INFO - [15261887] getUserConfigPath.
2016-09-20 16:53:27,278 - **main**:328 - INFO - [15261887] Adding job.
2016-09-20 16:53:27,391 - **main**:190 - INFO - [15261887] List

[2016-09-20 15:05] Unknown66 commented on #60
I'll check this if I've got time today's evening.

[2016-09-20 15:23] wardsimon commented on #60
I'm doing the preference stuff now and will look at.
There is a small problem not connected to this in the radius function which I've found and fixed and I've re-written a bit. Just going to test if this is still there....

[2016-09-20 15:29] Unknown66 commented on #60
@simonward86 one little question why didn't you use https://pypi.python.org/pypi/geopy ?
I think we should switch to geopy because we're able to notify the user of the location of the pokemon then.

[2016-09-20 16:11] wardsimon commented on #60
I thought that you needed another API key to perform a search. The implementation of the GeoLocation method just uses simple maths.

On both my new version and the version from the development branch I have been unable to re-create this. (did find a tiny unrelated error though)

[2016-09-20 16:19] urinella commented on #60
@simonward86
Have you tested on different computer in different networks?

In one bot I have 10 users from 10 different networks and about 5 of them got the wrong pokemonlist after /load
And for the location its enough to have 2 users.

Btw. I'm using Windows10, MySQL and the latest version of the development branch

[2016-09-20 16:26] wardsimon commented on #60
@urinella  I was going to ask about this.

I've tried with 2 users, Linux, MySQL and development branch.  I'll try different networks but this should not be a problem. It sounds like a problem with the loading, which means the user id's are getting confused.... A deeper look is needed then.

[2016-09-20 17:24] Unknown66 commented on #60
@simonward86 The geopy package don't need any further api key.
I think we could use it to show the address of the pokemon (requested by A A from telegram)

[2016-09-21 09:30] wardsimon commented on #56
I've finished with the preferences and it works for my testing. See commit a187598951c5e54816ccd4db09d389f2dca55415
Also I've moved to the geopy package as it is much easier :-)

I'd suggest creating a new branch and beginning the testing process.

[2016-09-21 09:34] wardsimon commented on #60
@Unknown66  I've moved to the geopy package for distance calculation as it is easier and added a reverse lookup call for text sent locations. (a187598951c5e54816ccd4db09d389f2dca55415) . You were correct, openstreetmaps does not need an API key. I've just used geopy with google maps, which does require a key.
I think testing on the new preference structure is needed to see if this bug is still aro

[2016-09-21 15:51] Unknown66 commented on #53
Okay current plan is the following:
Adding a global list with pokemonid and iv threshold. It's the same for all users.
Maybe later adding a user dependant list with the same stuff (If it's desired)

[2016-09-22 22:44] Unknown66 commented on #60
@urinella is the bug fixed in current develop release?

[2016-09-22 22:46] Unknown66 commented on #56
Added with #63 by @simonward86.

[2016-09-22 22:46] #56 closed, assigned to wardsimon

[2016-09-23 00:15] Unknown66 commented on #53
Added with commit c0fb035a7ad42136832bc10530478c04a0d2fcd8.
Wiki updated. See [here](https://github.com/eugenio412/PogomBOT/wiki/config-bot.json-setup#pokemon_min_iv_filter_list).

Post feedback please! :+1:

PS: Sry for waiting that much time!

[2016-09-23 02:04] ematiasnt opened #64 "[Feature Request] - Whitelist for users"
code from - https://github.com/muse/Lytebot

def whitelist(self, sub):
        '''
        Whitelist a sub from the /r command

[code]

@lytebot.command('whitelist', admin=True)
def whitelist(args, user):
    subs = []

[code]

[2016-09-23 10:41] Unknown66 commented on #64
I don't get it sry.

Could you please explain the intention.
And one example usage.

[2016-09-23 11:23] Made123 commented on #53
@Unknown66 yes will try in few hour !

[2016-09-23 12:40] Unknown66 commented on #53
@Made123 use latest version I fixed an annoying bug (no notifications)

[2016-09-23 13:51] ematiasnt commented on #64
I want to restrict Who send commands to the bot, and Who Will see what the bot do

[2016-09-23 13:53] Unknown66 commented on #64
For all users or only groups?

[2016-09-23 14:02] ematiasnt commented on #64
All users

[2016-09-23 14:22] Unknown66 commented on #64
Okay. Should all users that are whitelisted be able to alter the whitelist?

[2016-09-23 14:38] PhDeez commented on #64
Can you limit who views your bot?  I could see the whitelist for "who can send commands" but just seeing the bot's notifications?

[2016-09-23 14:40] Unknown66 commented on #64
If someone is not allowed to send commands he won't get any notifications because he's not able to alter the notifications list.
(this feature is not available by now)

[2016-09-23 17:46] ematiasnt commented on #64
No, Only one person. Administrator...

[2016-09-23 21:22] #53 closed, assigned to Unknown66

[2016-09-23 21:25] Unknown66 commented on #50
Added with Commit b37ecf1e74e48f1c3ff6997eb9595f041df04fff.

[2016-09-23 21:40] Unknown66 commented on #60
Seems to be fixed no comment right now.

[2016-09-23 21:40] #60 closed, assigned to nobody

[2016-09-23 22:12] Unknown66 opened #65 "[Feature Request] - Support channels"
As title said.

[2016-09-24 13:11] Unknown66 commented on #64
Okay current plan:

setting inside config-bot.json ADMIN_LIST with all admins that are able to alter the whitelist.
/wladd /wlrem to alter the whitelist.

[2016-09-25 11:33] dvdza opened #66 "[Feature Request] - Sending the location as a Picture"
I've been using POGObot-TELEGRAM, but it didnt show IV's and movesets, so I started to use PogomBot, the bot is amazing, but the only thing Im mising is the feature of send the location as a picture, in pogobot you were able to take a big snap of the place an send it, so you can see easely were to search without opening Gmaps. it would be great to se something like that in a update :)

[2016-09-25 20:02] Unknown66 commented on #66
Ok I think I've got the idea but therefor the users needs to add another gmaps api key.

In the current version you're able to open the map inside telegram. You don't need to open gmaps!
(Tested on Android)

[2016-09-28 22:57] Unknown66 commented on #64
Added with commit d0b844693c538b8498593b2946e079cbab86dc3f.

[2016-09-28 23:12] Unknown66 commented on #64
`userName` from users is used.
Would be possible to use `chatId` instead.

Waiting for feedback now!

[2016-09-29 12:22] pki0 opened #67 "[Feature Request] - Reconnect to MySQL automatically"
## Checklist
- [x] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [x] I have checked if this issue already exists (both open and closed issues)
- [x] I am using the most recent version of pogomBOT from the master branch
- [x] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [x] I'm posting the complete log, best if using pastebin

[2016-09-29 16:11] pki0 opened #68 "GeocoderServiceError on Linux"
## Checklist
- [x] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [x] I have checked if this issue already exists (both open and closed issues)
- [x] I am using the most recent version of pogomBOT from the master branch
- [x] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [x] I'm posting the complete log, best if using pastebin

[2016-09-29 21:53] Unknown66 commented on #68
You are generating too much Request to the Geocoder Service are you using the api key twice?

[2016-09-29 21:56] Unknown66 commented on #67
Hey,

could you open an issue for each one please? :-)
That makes it more clear for others to read.

[2016-09-29 22:03] pki0 opened #69 "[Feature Request] - Automatic /load for all users on startup"
## Checklist
- [x] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
- [x] I have checked if this issue already exists (both open and closed issues)
- [x] I am using the most recent version of pogomBOT from the master branch
- [x] If this is an installation issue, I am posting my OS, OS version, python version, pip version
- [x] I'm posting the complete log, best if using pastebin

[2016-09-29 22:07] pki0 commented on #68
Do you mean the bot-api-key? No
Each instance of the bot has one api-key.

But people told me maybe the IP of my root-server has an overload with telegram... possible?

[2016-09-29 22:10] Unknown66 commented on #68
Ah sry we're using openstreetmaps.
Seems like you're generating too much request for them.
Both instances using the same IP?

[2016-09-29 22:15] Unknown66 opened #70 "[Feature Request] - Send msg to all users"
Adding support for sending a msg to all currently connected users.
(Dev: conncted -> inside jobs list)

[2016-09-29 22:17] Unknown66 opened #71 "[Feature Request] - Lang file for messages"
Customizing messages is complicated by now. (editing source files)
Should adding a lang file to customize the messages.

(dev: Use messages.json if available else use default)

[2016-09-29 22:18] Unknown66 opened #72 "[Feature Request] - Send comment to admin"
Let user send a message with /comment to the admin directly through the bot.

(dev: not the most important feature)

[2016-09-29 22:32] pki0 commented on #68
Running maps and 5 bots on Windows (Home IP) works.
Running maps and just 1 and bot on Debain (Root-Server-IP) doesn't work.
Running maps on Root-IP and 5 bots on Windows works.

I'll try tomorrow on Debian with my home IP

[2016-09-29 22:35] Unknown66 commented on #68
Mhhh is the rootserver a vserver?
Then maybe the other instances are using requests too.
But for sure it's not the telegram api.

[2016-09-29 22:43] pki0 commented on #68
No it's a dedicated server.

[2016-09-29 22:46] Unknown66 commented on #68
No idea then.
But tell us tomorrow if you tested.
Hopefully @eugenio412 or @simonward86 do have an idea.

[2016-09-30 13:47] zenoncrow opened #73 "[Feature Request] - Adding IV's and moves using pogom"
There's a fork of pogom that implemented showing IVs and moves https://github.com/falau/pogom/tree/IVS
Is there any possible way to make this bot support that map? I've already tried it, but it only sends the usual notifications with the location and Pokemon name to the telegram.

[2016-09-30 14:29] Unknown66 commented on #73
Yes it is possible!

But currently pogom isn't in development as it seems.
I would advise you to switch over to pokemongo-map.

[2016-09-30 14:33] Unknown66 commented on #67
Okay one question is there any error if the connection is lost?

[2016-09-30 14:47] pki0 commented on #67
2016-09-30 16:45:28,910 - **main**:371 - INFO - [-150488203] Checking alarm.
2016-09-30 16:45:28,910 - **main**:398 - INFO - [-150488203] Checking pokemon and sending notifications.
2016-09-30 16:45:28,910 - **main**:467 - ERROR - [-150488203] OperationalError(2006, "MySQL server has gone away (BrokenPipeError(32, 'Broken pipe'))")
2016-09-30 16:45:28,910 - JobQueue:132 - ERROR - An uncaught error

[2016-09-30 14:48] zenoncrow commented on #73
@Unknown66 sadly, I cannot run pokemongo-map on my computer. Not even its developers know of the error I get and how to solve it. So I have to stick to pogom. I tried changing
pogobot.py (added "ivAvailable = True" where "if scannerName == 'pogom':" is
And also changed the contents of DSPogom.py so it gathered the same data as stated in DSPokemonGoMapIV.py, the bot runs without any errors but does

[2016-09-30 15:06] Unknown66 commented on #67
Okay should be possible to fix it then 👍

[2016-09-30 16:39] Unknown66 commented on #73
Did you try to run with `pokemongo-map-iv` as SCANNER_NAME?
And don't know if you got to do it... But did you enable encouters inside pogom?
(You could look inside dbs pokemon table if there are any pokemon with moves)

[2016-09-30 17:00] Unknown66 commented on #67
Okay I checked it's possible to fix it!

I will fit it this weekend if I've got some time else next week.

[2016-09-30 17:09] zenoncrow commented on #73
Just did it, and it works, thank you so much!

[2016-09-30 17:11] Unknown66 commented on #73
Will add the iv version for pogom soon then.
Then you will be able to use it with SCANNER_NAME `pogom-iv`.
I think then its more clear and easier to update if they change the layout of the db 👍

[2016-09-30 23:17] pki0 commented on #68
Today it's working.
I don't know. Maybe yesterday I had too much requests on my apache or something like this.

Sorry for opening an issue. Can be closed now

[2016-09-30 23:18] pki0 commented on #67
Nice to hear. Thanks a lot!

[2016-09-30 23:23] pki0 commented on #66
One thing if I understand this correctly.

Maybe you add an option like;
 "Send map only=false" you can do " bot.sendLocation(chat_id, latitude, longitude)"
"Send map only=true" you can do what you are now doing.

I did this with my bot to receive two messages from the bot.
A big map to open in telegrambrowser and the message with the pokemon after it. Works fine.

Looks like this than: https://po

[2016-09-30 23:52] #68 closed, assigned to nobody

[2016-10-01 00:45] Unknown66 commented on #67
Should be fixed on develop branch now!
You can test it if you've got the time 👍

Commit 2dd1575d4c30377d30dfd8d89042f93f7e30147c.

[2016-10-01 00:46] Unknown66 commented on #73
Added `pogom-iv` as `SCANNER_NAME`.
Commit d2942afafed24da2b80bb3a328aa0b25e149bdb4.

[2016-10-04 18:31] #67 closed, assigned to Unknown66

[2016-10-04 18:32] #73 closed, assigned to Unknown66

[2016-10-04 18:32] #64 closed, assigned to Unknown66

[2016-10-07 20:59] chowder opened #75 "[Feature request] Specific IVs"
- Add attack, defense and stamina to DataSources
- sendMessage includes specific IV stats instead of just percentage

(note for @Unknown66)

[2016-10-08 01:08] Unknown66 commented on #71
Currently only checking if pokemon lang is available.
We should check if anything from that lang is available.
- If all available use that speech.
- If available for at least one (move, poke, lang) use that speech, but for all others inside use "en" as default.
- If nothing available tell it to the user.

[2016-10-08 01:09] Unknown66 commented on #71
Another point, message customization but will add an example to this comment the next few days.

TODO Add example

[2016-10-20 20:45] Unknown66 opened #77 "Development stopped until api is open again!"
.

[2016-10-23 14:29] Unknown66 commented on #71
I think we should use [Templating](https://docs.python.org/3.4/tutorial/stdlib2.html#templating).
It's easily configurable then.

Example:

[code]

Output:

[code]

[2016-11-20 01:15] mattyperea opened #78 "Allow each user the ability to toggle IV filter on / off"
## My Issue

I think it would be a useful feature to allow each user the option to toggle the IV Filter on / off.
...

[2016-11-20 12:27] #77 closed, assigned to nobody

[2016-12-02 10:02] jipxi opened #79 "[Feature request] /iv <percentage>"
- Will notify of Pokémons with IVs over "percentage" (I can donate 10 euros for this feature.)

[2016-12-02 21:19] slgphantom commented on #79
https://github.com/eugenio412/PogomBOT/wiki/config-bot.json-setup#pokemon_min_iv_filter_list

[2018-01-09 20:14] yusufk opened #80 "Webhook - broken pipe results in dispatcher stopping"
## Checklist
 - [x ] I've read the [WIKI](https://github.com/eugenio412/pogomBOT/wiki)
 - [ x] I have checked if this issue already exists (both open and closed issues)
 - [ x] I am using the most recent version of pogomBOT from the master branch
 - [x ] If this is an installation issue, I am posting my OS, OS version, python version, pip version
 - [x ] I'm posting the complete log, best if using

[2018-01-09 20:14] #80 closed, assigned to nobody